* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #1294f5;
  height: 100vh;
  overflow: hidden;
}

.timer--box {
  height: 360px;
  margin: 60px auto;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timer--box .timer {
  font-size: 15rem;
  font-weight: 100;
}

.timer--box .timer--circles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 420px;
  height: 100px;
}

.timer--circles .circle-one,
.circle-two,
.circle-tree {
  border: 1px solid rgba(255, 255, 255, 0.616);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 90px;
  height: 90px;
}

.circle-two,
.content-start,
.circle-tree{
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
}

.toast--content {
  cursor: pointer;
}

.card{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.397);
}
.card.hidden{
  visibility: hidden;
}
.card .card-content{
  background-color: rgb(255, 255, 255);
  padding: 40px;
  width: 500px;
  border-radius: 10px;
  color: #000;
  height: auto;
}

.card .card-content p{
  margin: 20px 0;
}

.card .card-content h1{
  text-align: center;
}

.close{
  text-align: end;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 587px){
  .timer--box .timer{
     font-size: 7.5rem;
  }
  .card .card-content{
     width: 70vw;
    
  }
}